.formInputSectionWrap {
    height:  100%;
}

.formInputItem {
    width:  100%;
}

.formInputTitle {
    float:  left;
    width:  40%;
    word-wrap: break-word;
    padding:  5px;
    box-sizing:  border-box;
}

.formInputArea {
    padding:  5px;
    box-sizing:  border-box;
    width: 55%;
    float:  left;
}

.formInputArea input,
.formInputArea select {
    width:  100%;
}

input, select {
    /* width: calc(100% - 55px); */
    border-radius: 7px;
    border: 1px solid #c0c0c0;
    height: 30px;
    padding: 0 5px;
}

.TypeSelector {
    margin-top:  80px;
    margin-bottom: 10px;
}

.TypeSelector select {
    padding: 0 25px;
}

.button {
    margin-top:  10px;
    float:  left;
    cursor:  pointer;
    padding: 4px 15px;
    border-radius:  5px;
    border: 1px solid #dfdfdf;
    transition: 1s background;
    margin-right: 33px;
}

.buttonsWrap {
    float:  right;
}

.button:hover {
    background: #dbd8d8;
}


.header {
    background: #333;
}

.item {
    width: 100%;
    border-bottom: 3px solid #c0c0c0;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.each {
    margin:  2px;
    float:  left;
    flex: 1;
    min-width: 90px;
    /* border-bottom:  1px solid #c0c0c0; */
}

.showAddedDevices {
    width: 100%;
    margin-top: 20px;
}


.column {
    text-align:  center;
    background: #cbffc1;
    border-radius: 4px 4px 0 0;
    padding:  2px;
}

.columnValue {
    text-align:  center;
    padding:  1px;
    background: #64fff8;
    border-radius: 0px 0px 4px 4px;
    height: 45px;
    overflow: auto;
}

.column.empty {
    background: #ffccc1;
}

.columnValue.empty {
    background: #ff2d71;
    min-height:  21px;
}

.loadingDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: inline;
}

.loadingDiv.active{
    display: block;
}

.mainDiv {
    min-height: calc(100vh - 90px);
}

.inputText {
    width:  80%;
    float:  left;
}

.inputSelector {
    width:  20%;
    float:  left;
}

.inputSelector input#fileToUpload {
    display:  none;
}

.inputSelector label {
    padding:  10px;
    box-sizing:  border-box;
    cursor:  pointer;
    padding-top:  5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

input#Brand{
    opacity: 0;
}

.notFilled {
    background: #ff9393;
}

.columnValue img {
    width:  100%;
    max-width:  45px;
}

.jsonDataObjectsWrap .formInputTitle input {
    width:  100%;
}


.jsonDataObjectsWrap .formInputTitle {
    width:  45%;
}

.jsonDataObjectsWrap .formInputArea {
    width:  55%;
}

.removeItem {
    /* padding: 9px; */ 
    padding-left: 0;
    cursor: pointer;
    background: red;
    display: block;
    /* top: 8px; */
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 9px;
    text-align: center;
    padding-top: 1px;
    color: #fff;
}

.ExistingField {
    background: #ea4040;
    border-radius:  10px;
}
.EmptyInput {
    background: #ea4040;
    border-radius:  10px;
}
